// !: Settings – Colours

// !: Color palette

// ::: Base
$color-black: black;
$color-white: white;

$color-gray: #666666;
$color-gray-light: #CCCCCC;
$color-gray-dark: #333333;

// ::: Brand
$color-brand: red;
$color-brand-highlight: lighten($color-brand, 15%);
$color-brand-shadow: darken($color-brand, 15%);


// !: UI
$color-ui: $color-gray-light;

// !: Text
$color-text: $color-gray-dark;

// !: Links
$color-link: $color-brand;
$color-link-hover: $color-brand-shadow;

// !: Buttons
$color-btn: $color-brand;
$color-btn-hover: $color-brand-shadow;
