// Components
// =========================================

* {
   box-sizing: border-box;
}

html {
   height: 100%;
   overflow: hidden;
}

body {
   @include regular-font;
   height: 100%;
   overflow-x: hidden;
   font-size: 14px;
   line-height: 20px;
   color: $gray-base;

   font-weight: $font-weight-regular;
}
select{
   -webkit-appearance: none;
   -webkit-border-radius: 0px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
#wrapper{
   background-color: #f5f5f5;
   /* margin-bottom: -20px; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.none{display:none;}
.row.no-gutter {
   margin-left: 0;
   margin-right: 0;

   &[class*='col-']:not(:first-child),
   &[class*='col-']:not(:last-child) {
      padding-right: 0;
      padding-left: 0;
   }
}

.box{
   padding: 0 0 2em 0;
}

hr {
   border-color: white;
}

a,
a:hover,
a:focus,
a:active,
a.active {
   outline: 0;
   text-decoration: none;
}

a {
   color: $brand-primary;
   &:hover,
   &:focus,
   &:active,
   &.active {
      color: lighten($brand-primary, 5%);
   }
}

h1, h2, h3, h4, h5, h6 {
   @include bold-font;
   margin: 0 0 20px;
   font-size: 18px;
}

img {
   max-width: 100%;
}
img.responsive {
   width: 100%;
}
img.desaturate:hover {
  filter: grayscale(100%); /* Standard CSS */
  -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
  filter: url(../desaturate.svg#desaturate); /* Firefox 4-34 */
  filter: gray;  /* Internet Explorer IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit Browsers */
}

.section-title {
   margin-bottom: 50px;
   text-align: center;
   position: relative;
   text-transform: uppercase;
}
.section-title:after {
   content: '';
   border-top: 1px solid white;
   position: relative;
   width: 50px;
   display: block;
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
}
.section-sub-title {
   padding-top: 50px;
   padding-bottom: 50px;
}

// Custom Buttons
// =========================================
.btn{
   transition: all 0.2s linear;
}
.btn-sm {
   font-size: $font-size-base;
}

.btn-outline {
   background-color: $theme-transparent;
   border: 1px solid white;
   color: white;
   text-transform: uppercase;
   border-radius: 0;
}
.btn-bald {
   background-color: $theme-transparent;
   border: 1px solid $theme-transparent;
   color: $theme-orange;
   text-transform: uppercase;
   border-radius: 0;
}
.btn-stripped {
   background-color: $theme-transparent;
   border: 1px solid $theme-transparent;
   color: white;
   padding:0;
   text-transform: uppercase;
   border-radius: 0;
}
.btn-orange {
   background-color: $theme-orange;
   border: 1px solid $theme-orange;
   color: white;
   text-transform: uppercase;
   border-radius: 0;
}

.btn-secondary {
   background-color: $theme-transparent;
   border: 1px solid $theme-blue-d;
   color: $theme-blue-d;
   border-radius: 0;
   &:hover{
      background-color: $theme-blue-d;
   }
}

// Custom Navigation Bar
// =========================================

.navbar-nav > li > a {
   text-transform: uppercase;
}

.dropdown-menu a {
   text-transform: uppercase;
}

@media(max-width: $grid-float-breakpoint) {

   /* RESPONSIVE */
   .site-pusher,
   #wrapper {
      height: 100%;
   }

   #wrapper {
      overflow: hidden;
   }

   .site-pusher {
      transition-duration: 0.3s;
      transform: translateX(0);
   }

   .site-content {
      position: absolute;
      top: 50px;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
   }

   .navbar-custom {
      background-color: black;
      height: 50px;
      margin-bottom: 0;
      border: none;
      .navbar-brand {
         padding: 5px 15px;
         img {
            width: 100px;
            height: auto;
         }
      }
      .navbar-toggle {
         float: right;
         margin-right: 0;
         margin: 13px 15px;
         padding: 0;
         font-size: 24px;
         border: none;
         transform: rotate(0);
         transition-duration: 0.3s;
         color: white;
         &:hover,
         &:focus {
            background-color: transparent;
         }
      }
      #sideNavbar .navbar-nav {
         position: fixed;
         left: 0;
         top: 50px;
         bottom: 0;
         margin: 0;
         height: 100%;
         padding-bottom: 60px;
         overflow-y: auto;
         background-color: black;
         width: 320px;
         transform: translate3d(-321px,0,0);
         transition-duration: 0.3s;
      }
   }

   .site-cache {
      height: 0;
      position: absolute;
      top: 0;
      left: -100px;
      right: 0;
      bottom: 0;
      background-color:black;
      opacity: 0;
      transition: all 0.2s linear;
      z-index: 10;
   }

   .with--sidebar {
      .site-pusher {
         transform: translateX(320px);
      }
      .site-content {
         overflow: hidden;
      }
      #sideNavbar .navbar-nav {
         transform: translate3d(0px,0,0);
      }
      .navbar-toggle {
         transform: rotate(90deg)
      }
      .site-cache {
         height: 100%;
         opacity: 0.8;
         transition: opacity 0.2s linear;
      }
   }
}

@media(min-width: $grid-float-breakpoint) {

   .navbar-custom {
      background-color: black;
      background-color: rgba(0,0,0,0.4);
      background: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,0.4));
      border: none;
      margin-bottom: 0;
      padding-right: 30px;
      .navbar-brand {
         height: 120px;
         transition: all 0.3s ease;
         img {
            width: auto;
            height: 105px;
            transition: all 0.3s ease;
         }
      }
      .navbar-nav > li {
         > a {
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid transparent;
            transition: all 0.3s ease;
            &:hover,&:focus {
               border: 1px solid white;
               background-color: transparent;
               color: white;
            }
         }
         &.book-now a {
            background-color: $theme-orange;
            color: white;
         }
      }
      &.shrink {
         background-color: rgba(0,0,0,1);
         .navbar-brand {
            height: 80px;
            img {
               height: 55px;
            }
         }
         .navbar-nav > li > a {
            margin-top: 16px;
            margin-bottom: 16px;
         }
      }
   }
}


// Homepage Banner
// =========================================

.slideshow {
   &.home {
      .slider-wrap > div {
         @include background;
         height: 100vh;
         width: 100vw;
      }
   }
   &.inner {
      .slider-wrap > div {
         @include background;
         height: 80vh;
         width: 100vw;
      }
   }
   .slick-list {
      margin:  0 0 -25px;
      top: -25px;
   }


   .slideshow-overlay {
      position: absolute;
      display: flex;
      top: 0px;
      bottom: 0;
      left: 0;
      right:0;
      width: 90%;
      margin: 0 auto;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      &.container:before,
      &.container:after,
      &.row:before,
      &.row:after {
         content: normal; // IE doesn’t support `initial`
      }

      @media(min-width: $grid-float-breakpoint) {
         top: 120px;
      }
      h2 {
         @include alt-heading;
         font-size:$font-size-large;
         color: white;
         text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
      }
      h3 {
         @include regular-font;
         font-size:16px;
         color: white;
         text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
      }
      .slideshow-overlay-btns {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 20%;
         margin-top: 10%;
      }
      @media(min-width: 600px) {
         width: 80%;
         max-width: 900px;
         h2 {
            font-size: 70px;
         }
         h3 {
            font-size: $font-size-small;
         }
         .slideshow-overlay-btns {
            flex-direction: row;
            height: auto;
         }
      }
      @media(min-width: 1049px) {
         .slideshow-overlay {
            top: 120px;
         }
      }
      @media(min-width: $screen-lg) {
         h2 {
            font-size: 100px;
         }
         .slideshow-overlay-btns a {
            margin-left: 3em;
            margin-right: 3em;
            padding: .3em 2em;
         }
      }
   }
}

// Introduction
// =========================================

.introduction {
   @include padding-vert-sm;
   text-align: center;
   h2 {
      font-size: $font-size-h4;
      color: $theme-blue-l;
   }
   p {
      font-weight: $bold;
   }
   @media(min-width: 600px) {
      h2 {
         font-size: $font-size-medium;
      }
      p {
         font-size: $font-size-small;
      }
   }
   @media(min-width: $screen-lg) {
      h2 {
         font-size: $font-size-large;
      }
      p {
         font-size: $font-size-medium;
      }
   }
}

// Featured Tours
// =========================================

.featured-tours {
   background-image: url('../images/layout/ocean-bg.jpg');
   background-repeat: repeat;
   @include padding-vert-sm;
   h2.title {
      color: white;
      text-align: center;
      margin-bottom: 50px;
   }
   a {
      display: block;
      margin-bottom: 10px;
      .tour {
         position: relative;
         img {
            width: 100%;
            border: 10px solid white;
         }
         &.feature {
            figcaption {
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;

               &.container:before,
               &.container:after,
               &.row:before,
               &.row:after {
                  content: normal; // IE doesn’t support `initial`
               }

               h2 {
                  position: relative;
                  top: 0;
                  transform: none;
                  left: 0;
                  right: 0;
               }
            }
         }
         figcaption {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 50px 30px 30px;
            p {
               display: none;
            }
            h2,p {
               text-shadow: 0 1px 2px black;
               color: white;
            }
            h2 {
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: 30px;
               right: 30px;
               text-align: center;
            }
            .btn {
               letter-spacing: 2px;
               margin-top: 2em;
               margin-left: auto;
               margin-right: auto;
               padding-left: 2em;
               padding-right: 2em;
            }
         }
      }
   }
   @media(min-width: 600px) {
      h2.title {
         font-size: $font-size-medium;
      }
      figcaption h2 {
         font-size: $font-size-small;
      }
   }
   @media(min-width: $grid-float-breakpoint) {
      h2.title {
         font-size: $font-size-h2;
      }
      a {
         .tour {
            figcaption {
               h2 {
                  font-size: $font-size-medium;
               }
               p {
                  display: block !important;
                  text-align: center;
                  font-size: $font-size-small;
               }
            }
         }
      }
   }
}

// Media Section
// =========================================

.media {
   background-image: url('../images/layout/media-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left top;
   padding-top: 60px;
   padding-bottom: 20px;
   margin-bottom: 40px;
   .media-toggles {
      display: flex;
      flex-direction: column;

      &.container:before,
      &.container:after,
      &.row:before,
      &.row:after {
         content: normal; // IE doesn’t support `initial`
      }

      a {
         padding-bottom: 60px;
         text-decoration: none;
         opacity: 0.7;
         &.reveal {
            opacity: 1;
            border-bottom: 2px solid white;
         }
         @media(min-width: $grid-float-breakpoint) {
            padding-bottom: 40px;
            margin-bottom: 90px;
         }
      }
      @media(min-width: 600px) {
         flex-direction: row;
         justify-content: space-between;
         max-width: 600px;
         margin: 0 auto;
      }
      @media(min-width: $grid-float-breakpoint) {
         max-width: 700px;
      }
   }
   .toggle-slideshow {
      color: white;
      text-transform: uppercase;
      font-size: $font-size-medium;
      @media(min-width: $grid-float-breakpoint) {
         font-size: $font-size-h2;
      }
   }
   .mediaSlider {
      width: 100%;
      .media-item {
         &.news {
            display: block;
            position: relative;
            figure {
               figcaption {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $theme-blue-l;
                  background-color: $theme-blue-l-o;
                  color: white;
                  padding:10px;
                  border: 10px solid white;
                  .item-date {
                     float: left;
                     width: 60px;
                     height: 60px;
                     border: 1px solid white;
                     display: flex;
                     flex-direction: column;
                     align-items: center;
                     justify-content: center;
                     line-height: 14px;
                     p {
                        margin: 0;
                        padding: 0;
                     }
                  }
                  .item-content {
                     margin-left: 70px;
                     padding-top: 22px;
                     .news-body {
                        display: none;
                     }
                     .btn {
                        position: absolute;
                        bottom: 10px;
                     }
                  }
               }
            }
         }
         &.images,
         &.videoWrap {
            img {
               border: 10px solid white;
            }
         }
         &.videoWrap {
            figure {
               position: relative;
               i {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                  right: 0;
                  text-align: center;
                  font-size: 100px;
                  color: white;
                  &:hover {
                     opacity: 0.5;
                  }
               }
            }
         }
      }
   }
   .social-follow {
      margin-top: 150px;
      a {
         color: white;
         display: block;
         i {
            font-size: $font-size-large;
         }
      }
      @media(min-width: 600px) {
         max-width: 400px;
         margin: 90px auto 0;
         .col-xs-6 {
            width: 25%;
         }
      }
   }
}

//Tidy video section
.gdVideos{
   padding: 0;
   list-style: none;

   li{
      text-align: center;
      a{

         &:hover{
            text-decoration: none;

         }
         .text{

            text-align: center;

            h2{
               margin-top: 40px;
               text-align: center;
               position: relative;
               text-transform: uppercase;
               color: $theme-blue-d;
               font-size: 2em;

               &:after {
                  content: '';
                  border-top: 1px solid $theme-blue-d;
                  position: relative;
                  width: 50px;
                  display: block;
                  margin-top: 20px;
                  margin-left: auto;
                  margin-right: auto;
               }

            }

            .description{
               margin-bottom: 20px;
               color: $gray-base;
            }
         }
      }
   }
}
.videoSlider{
   text-align: center;
   color: $theme-blue-d;

   h2{
      margin-top: 20px;
      position: relative;
      text-transform: uppercase;
      font-size: 1.2em;

      &:after {
         content: '';
         border-top: 1px solid $theme-blue-d;
         position: relative;
         width: 50px;
         display: block;
         margin-top: 20px;
         margin-left: auto;
         margin-right: auto;
      }

   }

   .videoWatch{
      &,h3{
         margin-top: 10px;
         font-size: 1em;
      }
      h4{
         font-size: .9em;
      }
      margin-bottom: 20px;
      color: $gray-base;
   }
}

.news-item{
      padding-top: 1.5em;

      p,table,ul,ol{
         /* font-size: $font-size-small;
         color: lighten($gray-base, 5%);
          */
         &+h1, &+h2, &+h3, &+h4, &+h5, &+h6{
            margin-top: 2em;
         }

         &:last-child{
            margin-bottom: 2em;
         }
      }
      h1,h2,h3,h4,h5,h5{
         margin-bottom: 0.5em;
      }

   }
   .news-item{

      margin-bottom: 1.5em;
      padding:1em;
      text-align: justify;
      border: 2px solid $whitesmoke-bg;
      background: white;

     /*  &:nth-child(even){
        background: $whitesmoke-bg;
     } */

      h1,h2,h3,h4,h5,h5{
         text-transform: uppercase;
        a{
         /* color: $gray-base; */
        }
      }
/*
      .btn{
         padding: 0;
         font-size: $font-size-small;
         text-transform: uppercase;
         color: rgba($gray-base, 0.8);
      } */

   }

   .page-sidebar{

      &.page-sidebar-news{
         margin-left: 0;
         padding-left: 0;
      }

      li{
         display: block;
         max-width: 100%;
         font-size: $font-size-small;
         text-transform: uppercase;

         &.active{
            a{
               color: $gray-base;
               background: transparent;
            }
         }

         a{
            display: block;
            margin: 0 0 0.75em;
            padding: 0;
            color: $gray-base;
            font-weight: 700;

            &:hover{
               color: $gray-base;
               background: transparent;


            }
         }

      }

      ul{
         display: block;
         margin: 0 0 0.75em 0.75em ;
         padding: 0;
         clear:both;

         .lev1{
            display: none;
         }
         .lev2{
            font-size: $font-size-medium;
         }

      }
   }

// testimonial
// =========================================

.testimonials {
   @include padding-vert-sm;
   &.extra {
      .stars {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         font-size: $font-size-medium;
         color: $theme-orange;
         margin: 0 auto 50px;
         max-width: 300px;
      }
      h2 {
         font-size: $font-size-medium;
         margin-bottom: 30px;
      }
      p {
         font-size: $font-size-h4;
         font-weight: $bold;
         margin-bottom: 0;
      }
      .testimonials-validated {
         margin-top: 50px;
         h3 {
            text-transform: uppercase;
            font-size: $font-size-medium;
         }
         p {
            font-size: $font-size-h4;
         }
         h3, p {
            color: $theme-blue-l;
         }
      }
      @media(min-width: $grid-float-breakpoint) {
         h2 {
            font-size: $font-size-h2;
         }
         p {
            font-size: $font-size-medium;
         }
      }
   }
   &.people {
      margin-top: 10px;
      background-image: url('../images/layout/testimonial-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      padding-top: 60px;
      padding-bottom: 60px;
      color: white;
      @media(min-width: $grid-float-breakpoint) {
         padding-bottom: 130px;
         min-height: 450px;
      }
      @media(min-width: 1200px) {
      }
      .quoteWrap {
         max-width: 800px;
         margin-left: auto;
         margin-right: auto;
         p {
            text-shadow: 0 1px 2px black;
         }
         @media(min-width: 600px) {
            p {
               font-size: $font-size-small;
            }
         }
         @media(min-width: $grid-float-breakpoint) {
            p {
               font-size: $font-size-medium;
            }
         }
      }
      .image{
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center top;
         min-height: 600px;
      }
      h2 {
         color: white;
         @media(min-width: 600px) {
            font-size: $font-size-medium;
         }
      }
      .testimonial-author {
         padding-top: 50px;
         p {
            margin-bottom: 0;
         }
      }
      @media(min-width: $grid-float-breakpoint) {
         h2 {
            font-size: $font-size-h2;
         }
      }
   }
}

// Geolocation
// =========================================

.geolocation {
  //  margin-top: 10px;
   margin-top: 40px;

   .forecast {
      position: relative;
      min-height: 450px;
      padding: 30px;
      color: white;
      background: #15728f;

      .city{
         position: absolute;
         top: 10%;
         left: 10%;
         padding-top: 1em;
         font-size: 2em;
         font-weight: 400;
         border-top: 1px solid white;
      }
      .icon{
         position: absolute;
         top: 24%;
         left: 0;
         width: 45%;
      }

      .temp{
         position: absolute;
         top: 47%;
         left: 45%;
         font-size: 7em;
         width: 55%;
         font-style: italic;
         font-weight: bold;
      }
      .text{
         position: absolute;
         top: 65%;
         left: 45%;
         font-size: 2em;
         font-style: italic;
         text-transform: uppercase;
      }

      @media all and (max-width: 600px)  {

         .temp{
            position: absolute;
            top: 53%;
            left: 0;
            width: 100%;
            text-align: center;
         }
         .text{
            position: absolute;
            top: 70%;
            left: 0;
            width: 100%;
            text-align: center;
         }

      }

      .time{
         position: absolute;
         top: 30%;
         left: 45%;
         font-size: 1em;
      }



      /*
      .location-details {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         font-size: $font-size-medium;
         h2 {
            border-top: 1px solid white;
            padding-top: 30px;
            margin-top: 30px;
            font-size: $font-size-medium;
         }
      }
      */
   }
}

// Logos
// =========================================

.logos {
   @include padding-vert-sm;
   h2 {
      font-size: $font-size-medium;
      color: $theme-blue-d;
      @media(min-width: 600px) {
         br {
            display: none;
         }
      }
   }
   .logo-img {
      min-height: 85px;
      margin: 0 25px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
   }
}

// Subscribe
// =========================================

.subscribe {
   background-image: url('../images/layout/subscribe-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right top;
   color: white;
   @include padding-vert-sm;
   h2 {
      font-size: $font-size-medium;
   }
   form {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      .form-group {
         margin-bottom: 0;
         border: 2px solid white;
         border-bottom: 0;
         .form-control {
            background-color: transparent;
            text-align: center;
            color: white;
         }
      }
      .btn {
         letter-spacing: 2px;
         font-size: $font-size-medium;
         border: 2px solid white;
      }
   }
   .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      a {
         color: white;
         font-size: $font-size-medium;
      }
   }
}

// Breadcrumb
// =========================================

.breadcrumb {
   margin-bottom: 1em;
   background-color: transparent;
   font-size: $font-size-h5;
   padding:0;
}

// Submenu
// =========================================

.panel-group {
   margin-bottom: 0;
   &.enquiry {
      .panel-heading {
         i {
            float: right;
         }
      }
   }
   .panel {
      box-shadow: none;
      .panel-body {
         ul {
            li {
               a {
                  padding: 10px 0;
               }
            }
         }
      }
      .panel-heading {
         padding: 0;
         background-color: #2A80B9;
         color: white;
         position: relative;
         .panel-title {
            @include regular-font;
            font-size: $font-size-base;
            a {
               padding:15px;
               display: block;
               transition: all 0.2s ease;
               color: white;
               &:hover,
               &:focus,
               &:active {
                  text-decoration: none;
                  opacity: 0.8;
                  color: white;
               }
               &.panel-navigation {
                  &:after {
                     content: "\e117";
                     position: absolute;
                     right: 10px;
                     top: 13px;
                  }
                  &[aria-expanded="false"] {
                     &:after {
                        transform: rotate(45deg);
                        transition: all 1s ease;
                     }
                  }
                  &[aria-expanded="true"] {
                     &:after {
                        transform: rotate(720deg);
                        transition: all 1s ease;
                     }
                  }
               }
            }
         }
      }
   }
}

// Footer
// =========================================

.footer {

   a,p {
      color: $theme-blue-d;
   }
   hr {
      border-top: 1px solid $theme-blue-d;
      width: 60px;
      margin: 0 auto;
      clear: both;
   }


   p,.contact-details {
      margin: 40px 0;
   }
   .contact-details a {
      margin: 15px;
   }
   @media(min-width: 700px) {
      .nav li {
         display: inline-block;
      }
   }
   @media(min-width: $screen-lg) {
      .row {
         margin: 0;
         padding: 30px 40px;

         &:first-child{
            font-weight: bold;
         }
         &:nth-child(2){
            margin-right: -15px;
            margin-left: -15px;
         }
      }
      hr {
         display: none;
      }
      .nav > li > a {
         padding: 10px;
      }
      p,.contact-details {
         margin: 10px 0;
      }
      .contact-details a {
         margin: 10px;
      }

      .contact-details,
      .bottom {
         text-align: right;
      }
       .bottom {
         margin-right: 20px;
         font-size: 0.9em;
      }
   }
}

// =========================================
// INNER PAGE
// =========================================

.page-title {
   font-size: $font-size-large;
   letter-spacing: -5px;
   margin-top: 30px;
   margin-bottom: 30px;
   color: #0e4253;
   @media(min-width: $screen-md) {
      font-size: $font-size-xlarge;
   }
}

// Search Filters
// =========================================

.search-filters {
   background-color: #e6e6e6;
   padding: 15px 0;
   select {
      margin-bottom: 5px;
   }
   @media(min-width: $screen-md) {
      .filter-title {
         margin-top: 11px;
         margin-bottom: 0;
      }
   }
}

// Trip Modules
// =========================================

.trip-modules {
   margin-bottom: 40px;
   .trip-modules-wrap {
      background-color: white;
      margin-bottom: 20px;
      border: 1px solid #dedede;
      @media(min-width: $screen-lg) {
         height: 450px;
         overflow: hidden;
      }
      @media(min-width: 1400px) {
         height: 400px;
      }
      @media(min-width: 1600px) {
         height: 360px;
      }
      .img-resp-height {
         position: relative;
         height: 0;
         overflow: hidden;
         padding-bottom: 30%;
         @media(min-width: $screen-lg) {
            padding-bottom: 150%;
         }
         @media(min-width: 1400px) {
            padding-bottom: 120%;
         }
         @media(min-width: 1600px) {
            padding-bottom: 100%;
         }
         .module-img {
            @include background;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
         }
      }
      .trip-modules-inner {
         padding: 30px 15px 15px;
         overflow: auto;
         h2 {
            font-size: 24px;
            color: #0e4253;
         }
         .panel-group {
            margin-bottom: 15px;
            .panel-title a {
               position: relative;
            }
            .panel-title a[aria-expanded="false"]:after {
               content:"\f0d7";
               @include fontawesome;
               position: absolute;
               right: 15px;
               transform: rotate(0deg);
               transition: transform 0.3s ease;
            }
            .panel-title a[aria-expanded="true"]:after {
               content:"\f0d7";
               @include fontawesome;
               position: absolute;
               right: 15px;
               transform: rotate(180deg);
               transition: transform 0.3s ease;
            }
         }
         .tour-booking {
            h2 {
               color: #0e4253;
               font-size: 60px;
               margin-bottom: 0;
               span {
                  font-size: 24px;
               }
            }
            .tour-location,
            .tour-duration {
               i {
                  float: left;
                  font-size: 24px;
                  color: $theme-orange;
               }
               h3 {
                  margin-bottom: 5px;
               }
               h3,p {
                  padding-left: 30px;
               }
            }
         }
      }
   }
}

// Featured tours slider
// =========================================

.featured-tours {
   .slider.multiple {
      .slick-next {
         right: -65px;
      }
      .slick-prev {
         left: -65px;
      }
      @media(min-width: 700px) {
         .slick-slide {
            margin: 0 5px;
         }
      }
   }
}

// About Us
// =========================================

.white-wrap {
   background-color: white;
   padding: 20px;
   margin-bottom: 20px;
}

.right-separator{
   @media(min-width: 700px) {
      border-right: 1px solid #ccc;
   }
}

.panel-group {
   .panel {
      border: 0;
      .panel-heading {
         background-color: transparent;
         color: $theme-heading;
         .panel-title {
            text-transform: uppercase;
            border-top: 1px solid #ecf0f1;
            font-weight: $bold;
            a {
               padding: 15px 0;
               color: $theme-heading;


               &:after {
                  content: '+';
                  font-size: 2em;
                  float: right;

                  transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
               }

               &:hover,
               &:focus,
               &:active,
               &.active {
                 color: $theme-heading;
               }

               &[aria-expanded="false"]:after,
               &.collapsed:after{
                  transform: rotate(0);
                  -ms-transform: rotate(0);
                  -webkit-transform: rotate(0);
               }
            }
         }
      }
   }
   .panel-body {
      position: relative;
      h2 {
         font-size: $font-size-smallest;
         color: $theme-heading;
      }
      &.with-image {
         img {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            @media(min-width:600px) {
               float: right;
               margin-left: 20px;
               width: 40%;
               max-width: 400px;
            }
         }
      }
   }
}

// Scroll to Top
// =========================================
.scroll-top {
   opacity: 0;
   position: fixed;
   bottom: 0;
   right: 15px;
   z-index: 1000;
   transition: opacity .3s ease-in-out;
   &.scroll-to-top {
      opacity: 0.3;
      &:hover {
         opacity: 1;
      }
   }
   .btn {
      padding: 10px;
      border: 1px solid white;
      height: 50px;
      width: 50px;
      background-color: $brand-primary;
   }
   @media(min-width: $screen-sm) {
      right: 50%;
      transform: translateX(-50%);
      margin-right: -385px;
   }
   @media(min-width: $screen-md) {
      margin-right: -495px;
   }
   @media(min-width: $screen-lg) {
      margin-right: -595px;
   }
}

// Modals
// =========================================

.modal-open {
   filter:blur(0px);
   .modal-open {
      filter:blur(2px);
   }
}
.modal {
   z-index: 100000;
   text-align: center;
   &#video-modal .modal-body {
      position: relative;
      height: 0;
      padding-bottom: 55%;
      overflow: hidden;
      iframe {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         padding:15px;
      }
   }
   &.content-modal .modal-dialog {
      vertical-align: middle;
      display: inline-block;
      width: 96%;
      max-width: 600px;
      margin:0;
   }
   &.content-modal:after {
      display: inline-block;
      height: 100%;
      margin-left: -.05em;
      content: "";
      vertical-align: middle;
   }
   &.search-modal {
      &.in .modal-dialog,
      &.fade .modal-dialog {
         transform: none;
      }
      .modal-dialog {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         min-height: 100%;
         margin: 0;
         .modal-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 100%;
            box-shadow: none;
            border-radius: $border-radius-none;
            background-clip: border-box;
            border: 0;
            .modal-body {
               padding-top: 125px;
               .form-control {
                  padding:15px 10px;
                  border: 0;
                  border-bottom: 1px solid $navbar-default-border;
                  box-shadow: none;
                  @media (min-width: $screen-sm) {
                     padding: 30px 10px;
                     font-size: $font-size-h3;
                  }
               }
               .btn {
                  border:0;
                  background: transparent;
                  color: $gray-base;
                  font-size: $font-size-h3;
                  @media (min-width: $screen-sm) {
                     font-size: $font-size-h1;
                  }
               }
            }
         }
      }
      .close-modal {
         position: absolute;
         width: 75px;
         height: 75px;
         background-color: transparent;
         top: 25px;
         right: 25px;
         cursor: pointer;
         .lr {
            height: 75px;
            width: 1px;
            margin-left: 35px;
            background-color: $modal-close;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            z-index: 1051;
         }
         .rl {
            height: 75px;
            width: 1px;
            background-color: $modal-close;
            transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            z-index: 1052;
         }
      }
   }
}

// Slick Slider
// =========================================

.slider {
   .slick-prev, .slick-next {
      height: auto;
      width: auto;
      z-index: 3;
      top: 50%;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      border-radius: 50px;
      &:before {
         @include fontawesome;
         color: white;
         font-size: $font-size-h2;
      }
   }
   &.dark, &.logos {
      .slick-prev, .slick-next {
         border: 1px solid $theme-blue-l-o;
         &:before {
            color: $theme-blue-l-o;
         }
      }
   }
}
.slick-prev {
   left:15px;
   &:before {
      content:"\f104";
   }
}
.slick-next {
   right: 15px;
   &:before {
      content:"\f105";
   }

}.row.slider-control {
   padding:0 15px;
}
.multislideshow {
   .mediaSlider {
      .slick-slide {
         margin: 0 7.5px;
      }
      .slick-prev, .slick-next {
         top: auto;
         bottom: -60%;
      }
   }
}


/* Default category listing */

#category-listing {

   .image-background{
      min-height: 30em;
      color:white;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

#call-us{
   margin: 0.5em 0;
   padding: 1em;
   font-size: $font-size-medium;
   text-align: center;
   color: white;
   background: $brand-primary;
   a{
      color: white;
      text-decoration: underline;
   }

   &:before {
      @include fontawesome;
      content:"\f059";
      left:15px;
      color: white;
      font-size: $font-size-h2;
   }

   @media(min-width: $screen-md) {
      font-size: $font-size-large;
   }
}

/* Product detail */

.product-title{
   padding-top: $padding-large-vertical;
   font-weight: bold;
   font-size: $font-size-large;
   color: darken($gray-base, 10%);
}
.pos,
.rating{
   padding: 0.5em 0;
   font-size: $font-size-medium;

   a{
      text-decoration: none;
   }
}
.price{
   padding: .5em 0;
   font-weight: bold;
   font-size: $font-size-large;
}

.add-to-wish-list{
   padding: 1.5em 0;
}

.add-to-cart{
   padding: 1em 0;

   .btn{
      display: block;
      width: 100%;
      font-size: $font-size-medium;
      text-align: center;
   }
   .btn-secondary{
      font-size: $font-size-base;
   }
}

.product-description{
   padding: 1em 0;
   border-top: 1px solid $whitesmoke-bg;
}

#select-voucher-list{
   margin: 0;
   padding: 0 0 2em 0;
   list-style: none;

   li{
      display: inline-block;

      a{
         display: inline-block;
         padding: .6em 1em;
         font-size: 1.15em;
         border: 1px solid $brand-primary;
         &:hover{
            color: white;
            background: $brand-primary;
         }
      }

      &.sel{
         a{
            color: white;
            background: $brand-primary;
         }
      }
   }
}

/* Product listing item*/
.product-item{

   .product-image{
      margin-bottom: 1em;
   }

   .product-content{

      .title{
         padding: 0.5em 0;
      }
   }

}


/* Related products*/
#related-products{

   padding-top: $padding-large-vertical*3;

   .products-listing{
      padding: 2em 0;
   }

   .related-title{
      font-size: $font-size-medium;
      margin-top: $padding-large-vertical;
      margin-bottom: $padding-large-vertical;
      color: $theme-blue-d;
      @media(min-width: $screen-md) {
         font-size: $font-size-large;
      }
   }
}

/* Product reviews*/
#product-reviews{
   margin-top: 3em;
   background: lighten( $whitesmoke-bg , 1%);
}

@media (max-width: $screen-md) {

  // Align text to center.
  .text-xs-center {
    text-align: center;
  }
}


/* Checkout */
#checkoutContainer{
   .nav-tabs{
      margin-bottom: 2em;

      li{
         margin: 0 1em 0 0;
         padding: 1em;
         color: white;
         border-right: 1em solid white;
         background: $theme-blue-d;

         p{opacity: 0.8}
         h2{}

         &:last-child{border: none;}
         &.done{
            color: white;
            background: $brand-success;
         }
         &.active{
            color: white;
            background: $brand-primary;

         }

      }
   }
}
