//----------
// Banner
//----------

.banner {
	position: relative;
	margin-top: -$navbar-height-xs;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	@media all and (min-width: $screen-sm-min) {
		margin-top: -$navbar-height-sm;
		background-position: initial;
	}

	&.banner--fullscreen {
		height: calc(100vh - #{$navbar-height-xs});
		@media all and (min-width: $screen-sm-min) {
			height: calc(100vh - #{$navbar-height-sm});
		}
	}

	.banner_block {
		color: $white;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 275px;
		@media all and (min-width: $screen-sm-min )
		{
			max-width: 500px
		}
		@media all and (min-width: $screen-md-min )
		{
			max-width: 750px
		}

		.banner_block-text {
			font-family: $font-family-two;

			h2 {
				text-transform: uppercase;
				padding: 0;
				padding-bottom: 5px;
				font-size: 2.3em;
				letter-spacing: .2em;
				@media all and (min-width: $screen-sm-min ) {
						font-size: 3.2em;
				}
			}
			span {
				padding: 0;
				font-size: 1.8em;
				letter-spacing: .05em;
				@media all and (min-width: $screen-sm-min ) {
						font-size: 3em;
				}
			}
		}

		.banner_block-button {
			color: $white;
			display: inline-block;
			border: 1px solid $white;

			margin-top: 25px;
			padding: 10px 20px;
			font-weight: $fw-regular;

			text-transform: uppercase;
			text-decoration: none;
			@media all and (min-width: $screen-sm-min) {
					margin-top: 50px;
					transition: 250ms;
					&:hover,
					&:focus
					{
						background: $color-primary;
						color: $white;
					}
			}
		}
	}
}
