//----------
// Banner
//----------

.banner {
	position: relative;

	width: 100%;

	background-position: 50% 50%;
	background-size: cover;

	@include media-breakpoint-up(sm) {
		background-position: initial;
	}
	// banner fullscreen makes 100% vertical
	&.banner--fullscreen {
		height: calc(100vh - #{$navbar-height-xs});

		@include media-breakpoint-up(sm) {
			height: calc(100vh - #{$navbar-height-sm});
		}
	}
	// block of text in the middle of the banner
	.banner_block {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;

		max-width: 275px;
		margin: 0 auto;

		color: $white;

		@include media-breakpoint-up(sm) {
			max-width: 500px;
		}
		@include media-breakpoint-up(md) {
			max-width: 750px;
		}

		.banner_block-text {
			font-family: $font-family-two;

			img {
				max-width: 200px;

				@include media-breakpoint-up(sm) {
					max-width: 300px;
				}
			}
			h2 {
				padding: 0 0 5px;

				letter-spacing: 0.2em;
				text-transform: uppercase;

				font-size: 2.3em;

				@include media-breakpoint-up(sm) {
					font-size: 3.2em;
				}
			}

			span {
				padding: 0;

				letter-spacing: 0.05em;

				font-size: 1.8em;

				@include media-breakpoint-up(sm) {
					font-size: 3em;
				}
			}
		}
		// CTA for the banner
		.banner_block-button {
			display: inline-block;

			margin-top: 25px;
			padding: 10px 20px;

			text-decoration: none;
			text-transform: uppercase;

			color: $white;
			border: 1px solid $white;

			font-weight: $fw-regular;

			@include media-breakpoint-up(sm) {
				margin-top: 50px;

				transition: 250ms;

				&:focus,
				&:hover {
					color: $white;
					background: $color-primary;
				}
			}
		}
	}

	// banner + product slider
	&.product-slider {
		.product {
			@include media-breakpoint-up(sm) {
				position: absolute;
				top: 15px;
				right: 14px;

				width: calc(50% - 29px);
				height: calc(100% - 15px);
				padding: 5px;

				background: rgba($white, .93);
			}
			@include media-breakpoint-up(md) {
				top: 5px;
				right: 10%;

				height: calc(100% - 10px);
			}
			@media all and (min-width: 1440px) {
				top: 15px;
				right: 5%;

				width: 33.3333%;
				height: calc(100% - 15px);
				padding: 5px 15px;
			}
			@media all and (min-width: 1500px) {
				padding: 40px 15px;
			}
			&:focus,
			&:hover {
				color: inherit;
			}
		}
	}
}
