// --------------
// Breadcrumbs
// --------------

.breadcrumb {
  margin-bottom: 0;
  padding: 10px 15px;

  background: transparent;
  ul {
    margin-bottom: 0;

    li {
      display: inline-block;

      a {
        text-transform: capitalize;

        color: $black;
      }

      &:not(:last-child) {
        padding-right: 10px;

        &::after {
          padding-left: 10px;

          content: "/";
        }
      }
    }
  }
}
