// ---------------
// Slick Slider
// ---------------

.slider {
	// nothing too general
}

// product slider
.product-slider {
	.slider {
		img {
			padding: 15px;

			@include media-breakpoint-up(md) {
			  padding: 5px;
			}
			@media all and (min-width: 1440px) {
				padding: 15px;
			}
		}
		&:hover {
			cursor: w-resize;
		}
	}
}
