.testimonials {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 25px 15px;
	@media (min-width: $screen-sm) {
		padding: 50px 15px;
	}
}
.slideWrap {
	text-align: center;
	img {
		display: block;
		margin: 15px auto;
	}
	.slick-slide {
		padding: 20px 0;
	}
	p {
		font-size: em(22px);
		line-height: 1.5;
		color: #626262;

	}
	.btn {
		margin: 30px auto;
		padding: 10px 70px;
		font-size: em(20px);
		@media (min-width: $screen-sm) {
			font-size: em(24px);
		}
	}
}