// !: INIT Component – Icons Grid

.icons-grid__item {
  display: block;

  text-align: center;
  text-decoration: none;

  color: $color-primary;
  img {
    margin-bottom: 10px;
  }
  &:hover {
    color: $color-primary;
  }
}