// !: INIT Component – Banner

.banner {
  display: block;

  text-align: center;
  text-decoration: none;

  color: $color-brand;
  img {
    margin-bottom: 10px;
  }
  &:hover {
    color: $color-brand;
  }
}
