// !: INIT Component – Banner

.banner {
    display: block;

    text-align: center;
    text-decoration: none;

    color: $color-brand;
    img {
        @include font-size(20px);

        margin-bottom: 10px;

        @include media-breakpoint-up(sm) {
            font-size: 29px;
        }
        @include media-breakpoint-up(md) {
            font-size: 29px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 29px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 29px;
        }
    }
    &:hover {
        color: $color-brand;
    }
}
