// !: INIT Component – Footer

.footer {
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 50px;

    border-top: 5px solid $color-brand;
    background-color: $color-black;

    @include media-breakpoint-up(md) {
        border-top: 10px solid $color-brand;
    }
    a,
    p {
        @include font-size(14px);

        color: $color-white;

        @include media-breakpoint-up(md) {
            @include font-size(16px);
        }
    }
    a {
        color: $color-white;
    }
    svg,
    img {
        max-width: 220px;
        margin-bottom: 40px;
    }
}
.footer__tagline {
    @include font-size(32px, 1);

    margin-top: 0;
    margin-bottom: 0;

    color: $color-white;
}
.footer__nav {
    padding-left: 0;

    list-style-type: none;
    li {
        margin-bottom: 5px;

        @include media-breakpoint-up(md) {
            margin-bottom: 8px;
        }
    }
}
.footer__extra {
    margin-top: 10px;

    @include media-breakpoint-up(md) {
        margin-top: 50px;
    }
    a:first-child {
        margin-right: 10px;

        @include media-breakpoint-up(md) {
            margin-right: 50px;
        }
    }
}
.footer__lower {
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: $color-white;

    @include media-breakpoint-up(md) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    p {
        font-size: 16px;

        margin-bottom: 0;

        color: $color-black;
    }
}
.footer__logos {
    align-items: center;
    justify-content: center;

    width: 100%;

    @include media-breakpoint-up(md) {
        display: flex;
    }
    img {
        max-width: 40px;

        @include media-breakpoint-up(md) {
            max-width: 60px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 100%;
        }
        &:not(:first-child) {
            margin-left: 5px;

            @include media-breakpoint-up(lg) {
                margin-left: 10px;
            }
        }
    }
}
