{% include "partials/_head.njk" %}

	<body>

		<h1>Layout </h1>
		{% block main %}
	    This is the default content
			test
	  {% endblock %}

	  {# {% include "partials/_footer.njk" %} #}
	  {% include "partials/_scripts.njk" %}

	</body>

</html>
