{# Main layout #}



{% import "_config.njk" as config %}



{% include "partials/_include-head.njk" %}
<body>
	{% block main %}
		<div class="col-md-12 col-6">
			test bootstrap
		</div>
	{% endblock %}
	{# {% include "partials/_footer.njk" %} #}
	{% include "partials/_include-scripts.njk" %}
</body>
</html>
