* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family-one;
	font-size: $font-size-base;
	line-height: $line-height-base;
	background-color: $body-bg;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wrap {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		flex: auto!important;
		// fix for IE
	}
}

img {
	max-width: 100%;
	height: auto;
}

h1#pageTitle {
	font-size: 36px;
	line-height: 42px;
	margin: 0 0 30px;
	color: $color-primary;
	text-transform: uppercase;
	font-weight: bold;
	@media (max-width: 768px) {
		font-size: 26px;
	}
}

#wrap {
	position: relative;
}

.copy {
	margin-bottom: 40px;

	p.intro {
		font-size: 18px;
		font-weight: bold;
	}

	p {
		font-size: 16px;
	}

	h2 {
		font-size: 26px;
		line-height: 28px;
		color: $color-primary;
		margin: 15px 0 30px;
		@media (max-width: 480px) {
			font-size: 18px;
		}
	}

	h3 {
		color: $color-primary;
		font-size: 22px;
		line-height: 22px;
		margin: 15px 0 25px;
		@media (max-width: 480px) {
			font-size: 16px;
		}
	}

	h4 {
		color: $color-primary;
		font-size: 18px;
		line-height: 20px;
		margin: 15px 0 20px;
		@media (max-width: 480px) {
			font-size: 14px;
		}
	}
}

// Granite.Cookie
#stickycookiePolicy {
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

#stickycookiePolicy a {
	color: #fff;
	transition: color 0.3s ease;
	margin-left: 10px;
}

#stickycookiePolicy a:hover {
	color: $color-primary;
}

// noscript
.no-script.modal-backdrop.fade.in {
	opacity: 0.5;
	z-index: 10000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,1);
}

.modal.fade.in.no-js {
	background: #003359;
	bottom: auto;
	display: block;
	left: 0;
	padding: 30px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 10000;
}

.modal.fade.in.no-js .noscriptmsg {
	font-size: 1.25em;
	color: #fff;
	margin-bottom: 20px;
}

input.modal-closing-trick {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
	z-index: 1110;
}

input.modal-closing-trick:checked ~ div {
	display: none !important;
}
