/* -------------------------------------------------------
----------------------------------------------------------
Style Sheet for {{ init-ekrz }}

version: 0.3.0
last modified: 07.06.2017

author: Emmanuel K. Retzepter
email: hello@retzepter.com
website: http://retzepter.com

----------------------------------------------------------
----------------------------------------------------------*/
/* General stylesheet definitions
********************************/

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    color: #000;
}
.thin
{
    font-weight: 100;
}
.bold
{
    font-weight: 600;
}
.ultra-bold
{
    font-weight: 900;
}
.uppercase
{
    text-transform: uppercase;
}
.capitalize
{
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 10px 0;
}

h1
{
    font-size: 2.6em;
}
h2
{
    font-size: 2.2em;
}
h3
{
    font-size: 1.8em;
}
h4
{
    font-size: 1.6em;
}
h5
{
    font-size: 1.4em;
}
h6
{
    font-size: 1.2em;
}


/* Navbar Styling
*****************/


/*
Bootstrap reset
**************/
.nav > li > a:hover,
.nav > li > a:focus
{
    background: transparent;
}


/*
    NAVIGATION - MENU
*/

/* body */

body
{
    padding-top: 75px;

    background: #fafafa;
}
body.js-menu-open
{
    position: fixed;
}
@media (min-width: 768px)
{
    body
    {
        padding-top: 0;
    }
}

.navbar-nav
{
    position: relative;
    top: 25px;

    width: 100%;
    margin-bottom: 0;
    padding: 0 40px;

    transition: 300ms all 250ms;
    transform: translate3d(100%, 0, 0);

    opacity: 0;

    will-change: transform, opacity;
}

.navbar-offcanvas .navbar-collapse[aria-expanded='true'] .navbar-nav
{
    transform: translate3d(0, 0, 0);

    opacity: 1;
}

/* hamburger */
.navbar-toggle
{
    position: relative;

    margin: 0;
    margin-top: 17px;
    margin-right: 15px;
    padding: 0;
}
.navbar-offcanvas .navbar-toggle .icon-bar
{
    margin-right: auto;
    margin-left: auto;

    transition: transform 300ms cubic-bezier(.55, 0, .1, 1), opacity 300ms cubic-bezier(.55, 0, .1, 1);

    background-color: #fff;

    will-change: transform, opacity;
}

.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(2)
{
    transform: rotate(45deg) translate3d(4px, 5px, 0);
}

.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(3)
{
    opacity: 0;
}

.navbar-offcanvas .navbar-toggle .icon-bar:nth-child(4)
{
    transform: rotate(-45deg) translate3d(3px, -5px, 0);
}

.navbar-offcanvas .navbar-toggle.collapsed .icon-bar
{
    transform: rotate(0) translate3d(0, 0, 0);

    opacity: 1;
}

/* end of hamburger */

.navbar-collapse::before
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    opacity: .05;
    background: url('/images/menu/watermark.svg') no-repeat;
    background-size: cover;
}
.navbar-offcanvas .navbar-collapse
{
    position: fixed;
    z-index: 100;
    top: 51px;

    display: block;
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    min-height: calc(100vh - 50px) !important;

    transition: transform 200ms cubic-bezier(.1, 0, .1, 1);
    transform: translate3d(0, 0, 0);

    border: none;
    background: #fff;

    will-change: transform;

}

.navbar-offcanvas .navbar-collapse,
.navbar-offcanvas .navbar-collapse[aria-expanded='false']
{
    transform: translate3d(-100%, 0, 0);
}

.navbar-offcanvas .navbar-collapse[aria-expanded='true']
{
    transform: translate3d(0, 0, 0);
}

.navbar--custom
{
    color: #fff;
    background: #ff0048;
}

.navbar--custom .navbar-nav a
{
    font-size: 1.4em;
    font-weight: 600;

    padding: 8px 0;

    transition: all 200ms ease;

    color: #000;
}
.navbar--custom .navbar-nav a:hover,
.navbar--custom .navbar-nav a:focus
{
    color: #ff0048;
}

.navbar-brand
{
    height: 50px;
    margin: 0 0 0 20px;
    padding: 0;
}

.navbar-brand img
{
    max-width: 175px;
    height: 100%;
}




@media (min-width: 768px)
{
    .navbar--custom .navbar-nav a
    {
        font-size: 1.2em;

        position: relative;
    }
    .navbar--custom .navbar-nav a:hover
    {
        letter-spacing: 0;
    }
    .navbar-nav
    {
        position: static;
        top: auto;

        width: auto;

        transform: translateY(0);

        opacity: 1;
    }
    .navbar-nav li
    {
        padding: 0 10px;
    }
    .navbar-nav a::after
    {
        position: absolute;
        right: 0;
        bottom: 3px;
        left: 0;

        width: 0;
        height: 0;
        margin: 0 auto;

        content: '';
        transition: ease 300ms;

        background: #fff;
    }
    .navbar-nav a:hover::after
    {
        width: 100%;
        height: 3px;
    }
    .navbar-offcanvas .navbar-collapse
    {
        position: static;

        width: auto;
        max-width: none;
        height: auto !important;
        min-height: auto !important;

        transform: translate(0, 0) !important;

        background: transparent;
    }
    .navbar--custom .navbar-nav > li > a
    {
        color: #fff;
    }
    .navbar--custom .navbar-nav > li.open > a,
    .navbar--custom .navbar-nav > li > a:hover
    {
        color: #333;
    }
    .navbar--custom .navbar-nav > li.active > a
    {
        background: rgba(255, 255, 255, .33);
    }
    .navbar--custom.colored
    {
        /* border-bottom: 3px solid #00c7fc; */
        background: #2a343a;
    }
    .navbar-header
    {
        float: none;
    }
}

@media all and (min-width: 768px) and (max-width: 991px)
{
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand
    {
        margin-left: 0;
    }
    .navbar-header,
    .navbar-brand
    {
        position: relative;

        width: 100%;
    }
    .navbar-brand img
    {
        margin: 0 auto;
    }
    .navbar-nav
    {
        float: none !important;
    }
    .navbar-nav li
    {
        display: inline-block;
        float: none;
    }
    .navbar-offcanvas .navbar-collapse
    {
        position: relative;
        top: 0;

        margin-top: 25px;
    }
}

@media all and (min-width: 992px)
{
    .navbar-header
    {
        float: left;
    }
    .navbar-offcanvas .navbar-collapse
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    nav .container-fluid
    {
        padding: 0 5%;
    }
    .navbar
    {
        font-size: 12px;
        font-weight: 600;
    }
}

@media all and (min-width: 1200px)
{
    nav .container-fluid
    {
        padding: 0 10%;
    }
    .navbar-nav > li > a
    {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media all and (min-width: 1440px)
{
    nav .container-fluid
    {
        padding: 0 15%;
    }
    .navbar-nav > li > a
    {
        padding-right: 25px;
        padding-left: 25px;
    }
}

/* Section
*********/
.regular-section
{
    padding: 10px;
}
.regular-section--center
{
    text-align: center;
}
@media all and (min-width: 768px)
{
    .regular-section
    {
        padding: 10px 5%;
    }
}
@media all and (min-width: 992px)
{
    .regular-section
    {
        padding: 10px 7.5%;
    }
}
@media all and (min-width: 1200px)
{
    .regular-section
    {
        padding: 10px 10%;
    }
}
@media all and (min-width: 1440px)
{
    .regular-section
    {
        padding: 10px 15%;
    }
}
/* Footer
********/
footer
{
    background: #f0f0f0;
}



/*        -        *\
\    Miscellaneous  /
 \*       -       */



/* NoScript Styling
******************/

.no-script.modal-backdrop.fade.in
{
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: .5;
    background: #000;
}

.modal.fade.in.no-js
{
    position: fixed;
    z-index: 1109;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    display: block;

    padding: 30px;

    text-align: center;

    background: #222;
}

.modal.fade.in.no-js .noscriptmsg
{
    font-size: 1.25em;

    margin-bottom: 20px;

    color: #fff;
}
.modal.fade.in.no-js .btn
{
    display: block;

    padding: 10px;
}
.modal.fade.in.no-js a.btn
{
    margin-bottom: 10px;
}
.modal.fade.in.no-js h6
{
    font-size: .8em;
    font-weight: 600;
    line-height: 1.4em;

    margin-top: 10px;

    text-transform: uppercase;

    color: #fff;
}
input.modal-closing-trick
{
    position: absolute;
    z-index: 1110;
    top: -9999px;
    left: -9999px;

    visibility: hidden;
}

input.modal-closing-trick:checked ~ div
{
    display: none!important;
}
