{#

  !: INIT Component – Banner
  :: Requires : /scss/_c-banner.scss + init its slider in /scripts/main.js
  
#}


<section class="banner">
  <div class="banner__container">
    <div class="banner__slide">
      <img src="images/banner-bg-1.jpg" alt="">
    </div>
  </div>
</section>
