// ---------
// Footer
// ---------


footer {
	background: rgba($color-primary, .05);
	border-top: 2px solid rgba($color-secondary, .3);
	margin-top: 15px;
	@media all and (min-width: $screen-md-min) {
		padding: 15px 5%;
		margin-top: 30px;
	}
	@media all and (min-width: $screen-lg-min) {
		padding: 40px 10%;
		margin-top: 50px;
	}
	h3 {
		color: rgba($black, .5);
		text-transform: uppercase;
		font-size: 1em;
	}
	ul {
		list-style-type: none;
		li {
			a {
				font-size: .8em;
				color: rgba($black, .5);
				@media all and (min-width: 400px) {
					font-size: 1em;
				}
				&:hover {
					color: $black;
				}
			}
		}
	}
	.payment-methods {
		li {
			display: inline-block;
			&:not(:last-child) {
				margin-right: .5em;
			}
		}
	}
	.sign-up {
		background: rgba($color-primary, .5);
		padding: 15px;
		margin-top: 20px;
		@media all and (min-width: $screen-sm-min) {
			padding: 25px;
		}
		h3 {
			padding: 0;
			color: $black;
			margin-bottom: 10px;
			font-size: 1em;
			@media all and (min-width: $screen-sm-min) {
				margin-bottom: 15px;
			}
		}
		input {
			border: 1px solid rgba($black, .13);
			box-shadow: 0 1px 2px rgba($black, .05);
			padding: 5px;
		}
		button {
			background: $color-primary;
			border: 1px solid $color-primary;
			color: $white;
			margin-left: -5px;
			padding: 5px 15px;
			text-transform: uppercase;
		}
	}
	.share-social-networks
	{
		a {
			opacity: .5;
		}
	}
}
