.wideSearch {
	@media (min-width: $screen-sm) {
		align-items: center;
		align-self: center;
		display: flex;
		justify-content: space-between;
	}
	h2 {
		margin: 10px 0;
		color: $color-primary;
		text-transform: uppercase;
		font-size: em(20px);
		@media (min-width: $screen-lg) {
			font-size: em(38px);
		}
	}
	.input-group {
		margin: 10px 0;
		border-radius: 50px;
		background: rgb(57,181,74);
		background: -moz-linear-gradient(left,  rgba(57,181,74,1) 0%, rgba(63,170,238,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(57,181,74,1) 0%,rgba(63,170,238,1) 100%);
		background: linear-gradient(to right,  rgba(57,181,74,1) 0%,rgba(63,170,238,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b54a', endColorstr='#3faaee',GradientType=1 );
		@media (min-width: $screen-lg) {
			max-width: 590px;
		}
	}

	.input-lg, .input-group-lg > .form-control,
	.input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
		@media (min-width: $screen-lg) {
			height: 86px;
			padding: 17px 26px;
		}
	}
	.form-control, .icon-search {
		background: unset;
		border: none;
		color: $white;
		font-weight: $fw-extrabold;
		text-transform: uppercase;
		font-size: em(16px);
		@media (min-width: $screen-md) {
			font-size: em(20px);
		}
		@media (min-width: $screen-lg) {
			font-size: em(22px);
		}
	}
	.form-control {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		&::-webkit-input-placeholder {
			color: $white;
		}
		&::-moz-placeholder {
			color: $white;
		}
		&:-ms-input-placeholder {
			color: $white;
		}
		&:-moz-placeholder {
			color: $white;
		}
	}
	.icon-search {
		font-size: em(20px);
		@media (min-width: $screen-lg) {
			font-size: em(32px);
		}
	}
	.btn.btn-default {
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		border: none;
		background: unset;
	}
}
.wideSelection {
	background: #f2f2f2;
	padding: 50px 0;
	display: block;
	overflow: hidden;
	position: relative;
	.gridList {
		padding: 25px 0;
		@media (min-width: $screen-sm) {
			padding: 50px 15px;
		}
		.row {
			margin: 0 -10px;
		}
		[class*="col-"] {
			padding: 0 10px;
		}
	}
	.boxWrap {
		position: relative;
		display: block;
		margin-bottom: 20px;
		border: solid 1px #ddd;
		img {
			width: 100%;
		}
	}
	.title {
		background: $color-primary;
		color: $white;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 15px;
	}
	h3 {
		margin: 0 0 10px;
	}
	a {
		color: $white;
		display: block;
	}
}
