// ------------
// Grid shop
// ------------
// banner will always ignore the gutter
section:not(.banner):not(.section--fullscreen) {
  @media all and (min-width: $screen-lg-min) {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.section--fullscreen {
  @media all and (min-width: $screen-lg-min) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

#grid-shop {
  // title basic
  .title {
    margin: 15px auto;
    text-transform: uppercase;
    // actual page title
    h1 {
      color: $gray-light;
      padding: 0;
      font-size: 1.2em;
      @media all and (min-width: $screen-sm-min) {
        font-size: 1.5em;
      }
    }
    // category (comes before h1)
    span {
      display: block;
      font-weight: 900;
      font-size: 1.3em;
      @media all and (min-width: $screen-sm-min) {
        font-size: 1.8em;
      }
    }
  }
  &.grid-shop--similar {
    
    .title {
      h1 {
        color: $black;
        margin: 15px auto;
        @media all and (min-width: $screen-sm-min) {
          margin: 25px auto;
        }
        @media all and (min-width: $screen-md-min) {
          margin: 40px auto;
        }
      }
    }
  }
  // grid shop container
  .grid-shop_container {
    .row {
      &:first-child {
        position: relative;
      }
    }
  }
  // sorting option
  .sort-by {
    z-index: 1;
    cursor: pointer;
    @media all and (min-width: $screen-sm-min) {
      position: absolute;
      right: 0;
      top: 35px;
    }

    .sort-by_container {
      background: $white;
      border: 2px solid $custom-gray;
      padding: 5px 15px;
      margin-bottom: 20px;
      @media all and (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }

      .sort-by-options {
        display: none;
        list-style-type: none;
        border-top: 1px solid $black;
        margin-top: 5px;
        padding-top: 5px;

        li {
          padding: 5px;
          text-align: center;
          text-transform: uppercase;

          &.sel,
          &:hover {
            font-weight: 600;
          }
        }
      }

      span {
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        width: 100%;
        text-align: center;

        &:after {
          position: relative;
          top: 1px;
          content: '\e804';
          margin-left: 15px;
          font-family: $fontello;
        }
      }
    }
  }
}
