// ------------
// Grid shop
// ------------
section:not(.banner) {
  @media all and (min-width: $screen-lg-min) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#grid-shop {
  .title {
    margin: 15px auto;
    text-transform: uppercase;
    h1 {
      color: $gray-light;
      padding: 0 0 15px 0;
      font-size: 1em;
    }
    span {
      display: block;
      font-weight: 900;
      font-size: 1.1em;
    }
  }
  .sort-by {
    border: 1px solid $custom-gray;
    display: inline-block;
    max-width: 250px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    &:after {
      position: relative;
      top: 1px;
      content:'\e804';
      margin-left: 15px;
      font-family: $fontello;
    }
  }
}
