<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
	window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/site.js"></script>
<noscript>
	<input type="checkbox" class="modal-closing-trick" id="modal-closing-trick">
	<div class="no-script modal-backdrop fade in"></div>
	<div class="modal fade in no-js">
		<div class="noscriptmsg"> You should activate JavaScript to enhance your experience on this website. </div>
		<a href="http://www.enable-javascript.com/" class="btn btn-primary" target="_blank">How?</a>
		<label class="btn btn-primary btn-danger" for="modal-closing-trick"> No, I know what I do. </label>
		<h6> This website won't properly work without JavaScript. </h6>
	</div>
</noscript>
</body>
</html>
