{# 

    !: Layout : Main 
    ::: Import config, include <head> and <scripts>, navbar and footer.

 #}

{% import "../_config.njk" as config %}

{% include "../components/_head.njk" %}
<body class="{{body_class}}">

    {# NOTE:
        ::: This template can be used without any Nunjucks knowledge.
        ::: Complete your template by inserting your markup and content in /templates/my-template.njk
    !:#}
    {% block main %}{% endblock %}

    {% include "../components/_scripts.njk" %}
</body>
</html>