// Mixin font to apply a default style to the font

// @params {$font} - The font required and the fallbacks as Arial and sans-serif
// @params {$style} - The font-style to be applied to the font selected - default to normal
// @params {$weight} - The font-weight to be applied to the font selected - Default to normal

// @usage - @include font($pembroke, italic, bold) - To include the Pembroke font, with a font-style italic and a font-weight bold
@mixin font($font, $style: normal, $weight: normal) {
  font-family: $font, Arial, sans-serif;
  font-weight: $weight;
  font-style: $style;
}
