// Mixin to truncate a text

// @params{$width} - The width passed which the text will be truncated

// @usage - @include truncate(300px); - To truncate the text after 300px in width
@mixin truncate($width) {
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}