// Mixin to convert a font-size from px to rem

// @params {$fontsize} - Default to 16px, the value of the fontsize in px we want to convert to rem
// @params {$linesize} - Default to 22px, the value of the lineheight in px we want to convert to rem
@mixin font-size($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }

    @else {
        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        }
    }
}
