<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>{{ config.projectTitle }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- mobile toolbar theming -->
        <meta name="theme-color" content="{{ config.projectColour }}"/>
        <meta name="msapplication-navbutton-color" content="{{ config.projectColour }}"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

        <!--favicon -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

        <link rel="stylesheet" href="{{ config.stylesheet }}"/>
    </head>