<div id="stickycookiePolicy">
  <div class="inner">
    We use cookies to improve your experience on this website.
    <a class="more" href="cookie-policy">Read More</a>
    <a class="close" href="javascript:" onclick="closeCookiePolicy();">Allow Cookies</a>
  </div><!--/inner-->
</div>