{% if config.dev %}
    {# !: Unminified Js (jQuery + bootstrap + custom) :! #}
    <script src="scripts/jquery.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/app.min.js"></script>
{% else %}
    {# ⚡️ Minified + Concatenated Js #}
    <script src="scripts/app.min.js"></script>
{% endif %}