{# !: INIT Component – Hamburger :! #}

<button class="hamburger hamburger--spring border-0" data-toggle="menu-offcanvas" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>