{# !: Bootstrap component – Navbar :! #}

<nav class="c-navbar navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="homepage.html">
            <div class="navbar-brand__main">
                <img src="images/logo.svg" alt="{{config.project.title}}">
            </div>
        </a>

        {% include "./c-hamburger.njk" %}
        
        <div class="navbar-collapse offcanvas-collapse" id="offcanvas-navbar">
            <ul class="navbar-nav mx-auto mr-lg-0">
                {% for item in menu.main %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.link}}.html">
                            {{item.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
    