{# !: INIT Component – Banner :! #}


{% macro new (extraClass, heading, subheading) %}
<section class="banner {{extraClass}}">
   <div class="banner__container">
      <div class="slider">

         <div class="slider__item">
            <div class="slider__image">
               {# ⚡️ Always check the feasability of this with dev & client #}
               <picture>
                
                  <source media='(min-width: 1440px)'
                     srcset='https://dummyimage.com/1920x500.jpg'>

                  <source media='(min-width: 992px)'
                     srcset='https://dummyimage.com/1440x500.jpg'>

                  <source media='(min-width: 768px)'
                     srcset='https://dummyimage.com/992x500.jpg'>

                  <source media='(min-width: 0px)'
                     srcset='https://dummyimage.com/768x500.jpg'>

                  <img src='https://dummyimage.com/1920x500.jpg' alt=''>

               </picture>
            </div>
            {% if heading %}
               <div class="slider__container">
                  <div class="slider__overlay">
                     <h1>{{heading}}</h1>
                     <p>{{subheading}}</p>
                  </div>
               </div>
            {% endif %}
        </div>
      </div>
    </div>
</section>
{% endmacro %}