{% extends './layouts/_layout-main.njk' %}


{% block main %}

  <main>
    <section>
      <div class="container">
        <h1> Directory </h1>
      </div>
    </section>
    <section>
      <div class="container">
        <h2>INIT components</h2>
        {% include './components/_banner.njk' %}
      </div>
      <div class="container">
        <h2>Bootstrap components</h2>
        {% include './components/bootstrap/_b.navbar.njk' %}
        {% include './components/bootstrap/_b.accordion.njk' %}
        {% include './components/bootstrap/_b.card.njk' %}
        {% include './components/bootstrap/_b.modal.njk' %}
      </div>
    </section>
  </main>
{% endblock %}
