{% import "./_config.njk" as config %}
{% set extra = true %}
{% import './components/m-banner.njk' as banner %}
{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
    {% include './components/c-navbar.njk' %}

    {{banner.new(
		'banner--large'
	)}}

    {{content.new(
		'Hello',
		'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum diam et vulputate vestibulum. Aenean cursus, arcu sit amet sollicitudin lacinia, tortor nisl placerat justo, vitae pretium quam dolor a augue. Pellentesque lectus eros, aliquet eu egestas a, consectetur maximus ipsum. Vivamus tempor scelerisque nibh, nec vulputate eros congue quis. Morbi in neque vehicula, dictum diam non, lacinia lectus.'
	)}}

    {% include './components/c-footer.njk' %}

    {% include "./components/_scripts.njk" %}
</body>
</html>