{% import "./_config.njk" as config %}

{% import './components/m-content.njk' as content %}

{% include "./components/_head.njk" %}
<body>
    {% include './components/c-navbar.njk' %}

    <section>
    Init is a boilerplate engine.
    </section>

    {% include './components/c-footer.njk' %}

    {% include "./components/_scripts.njk" %}
</body>
</html>