{% extends './layouts/_layout-main.njk' %}
{% block main %}

    <main>
        <section>
            <div class="container">
                <h1>My template</h1>
            </div>
        </section>
    </main>

{% endblock %}