// !: INIT Component – Navbar

.c-navbar {
    height: $navbar-height-mobile;

    background-color: $color-white;
    box-shadow: 0 0 20px 0 rgba($color-black, 0.1);

    @include media-breakpoint-up(lg) {
        height: $navbar-height-desktop;
    }

    .navbar-brand {
        svg,
        img {
            height: $navbar-height-mobile - 20;

            @include media-breakpoint-up(md) {
                height: $navbar-height-desktop - 30;
            }
        }
    }
    .navbar-nav {
        @include media-breakpoint-up(lg) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 225px;
        }
    }
    .navbar-collapse {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            flex-direction: column;

            padding-top: 75px;
        }
    }
    .nav-item {
        &.active {
            .nav-link {
                @include media-breakpoint-up(lg) {
                    font-weight: 600;

                    position: relative;

                    color: $color-brand;
                    // &:after {
                    //     @include pseudo;
                    //     @include center(horizontal);

                    //     bottom: -15px;

                    //     width: 20px;
                    //     height: 2px;

                    //     background-color: $color-brand;
                    // }
                }
            }
        }
    }
    .nav-link {
        @include font-size(26px,1);

        font-weight: 600;

        color: $color-white;

        @include media-breakpoint-up(lg) {
            @include font-size(14px);

            color: $color-black;
        }
        @include media-breakpoint-up(xl) {
            @include font-size(18px);
        }
        &:hover {
            color: $color-brand;
        }
    }
}
